@model Check_Inn.Areas.Dashboard.ViewModels.AccomodationActionModel

@{
    ViewBag.Title = "Action";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}
@if (Model != null)
{
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="text-md my-3" id="exampleModalLabel">
                @if(Model.ID > 0)
                {
                    <span>Edit Accomodation</span>

                }
                else
                {
                    <span>Create Accomodation</span>
                }
            </h1>
        </div>

        <div class="error-wrapper">

        </div>

        <form id="actionForm">
            <input type="hidden" name="ID" value="@Model.ID" />
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="Name" id="name" placeholder="Enter Accomodation Type Name" value="@Model.Name" >
                <label class="form-label" for="name">Name</label>
            </div>
            <div class="mb-3">
                <!--<lable class="form-label" for="AccomodationTypeID">Select Accomodation Type</lable>-->
                <select class="form-select" name="AccomodationPackageID" id="AccomodationPackageID">
                    <option>Select an Accomodation Package</option>
                    @if (Model.AccomodationPackages != null)
                    {
                        foreach (var accomodationPackage in Model.AccomodationPackages)
                        {
                            <option value="@accomodationPackage.ID" @(accomodationPackage.ID == Model.AccomodationPackageID ? "selected" : string.Empty) >
                                @accomodationPackage.Name
                            </option>
                        }
                    }
                </select>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="Description" id="Description" placeholder="Enter Accomodation Type Name" value="@Model.Description">
                <label class="form-label" for="Description">Description</label>
            </div>
            <button id="actionButton" class="btn btn-primary">
                <i class="fa-solid fa-floppy-disk me-1"></i> Save changes
            </button>
        </form>

    </div>
}

<script>
    document.getElementById("actionButton").addEventListener("click", function () {
        console.log("create button clicked")
        var form = document.getElementById("actionForm");
        var formData = new FormData(form);
        console.log(formData.entries)

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "@Url.Action("Action", "Accomodations")", true);

        // Set up an event handler to handle the response
        xhr.onreadystatechange = function () {
            console.log(xhr.status, xhr.readyState);
            if (xhr.readyState === 4) {
                // Response received successfully
                var response = JSON.parse(xhr.responseText);
                if (response.Success)
                {
                    location.href = "@Url.Action("Index", "AccomodationPackages")";
                }
                else
                {
                    var errorDiv = document.querySelector(".error-wrapper");
                    errorDiv.innerHTML = response.Message;
                }
            }
        };

        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');

        xhr.send(formData);
    });
</script>

