@model Check_Inn.Areas.Dashboard.ViewModels.AccomodationsListingModel

@if (Model != null && Model.Accomodations.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Accommodation Package</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (Check_Inn.Entities.Accomodation accomodation in Model.Accomodations)
            {
                <tr>
                    <td>
                        @accomodation.Name
                    </td>
                    <td>
                        @accomodation.Description
                    </td>
                    <td>
                        @if (accomodation.AccomodationPackage != null)
                        {
                            @accomodation.AccomodationPackage.Name
                        }
                    </td>
                    <td>
                        <a href="@Url.Action("Action", "Accomodations", new { ID = accomodation.ID })" id="editButton" type="button" class="btn btn-success">
                            <i class="fa-solid fa-pen me-1"></i> Edit
                        </a>
                        <a href="@Url.Action("Delete", "Accomodations", new { ID = accomodation.ID })" type="button" class="btn btn-danger">
                            <i class="fa-solid fa-trash me-1"></i> Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    if (Model.Pager.EndPage > 1)
    {
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @if (Model.Pager.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", "Accomodations")"><i class="fa-solid fa-angles-left me-2"></i>First Page</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", "Accomodations", new { page = Model.Pager.CurrentPage - 1, searchTerm = Model.SearchTerm, AccomodationPackageID = Model.AccomodationPackageID })"><i class="fa-solid fa-angle-left me-2"></i>Previous</a>
                    </li>
                }

                @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                {
                    <li class="page-item @(page == Model.Pager.CurrentPage ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index", "Accomodations", new { page = page, searchTerm = Model.SearchTerm, AccomodationPackageID = Model.AccomodationPackageID })">@page</a>
                    </li>
                }

                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", "Accomodations", new { page = Model.Pager.CurrentPage + 1 })">Next Page<i class="fa-solid fa-angle-right ms-2"></i></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", "Accomodations", new { page = Model.Pager.TotalPages })">Last Page<i class="fa-solid fa-angles-right ms-2"></i></a>
                    </li>
                }
            </ul>
        </nav>
    }

}
else
{
    <div class="alert alert-warning" role="alert">
        There are no records!
    </div>
}
