@model Check_Inn.Areas.Dashboard.ViewModels.AccomodationPackageActionModel

@{
    ViewBag.Title = "Action";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}
@if (Model != null)
{
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="text-md my-3" id="exampleModalLabel">
                @if (Model.ID > 0)
                {
                    <span>Edit Accommodation Package</span>
                }
                else
                {
                    <span>Create Accommodation Package</span>
                }
            </h1>
        </div>

        <div class="error-wrapper">

        </div>

        @using (Html.BeginForm("Action", "AccomodationPackages", FormMethod.Post, new { id = "actionForm" }))
        {
            @Html.HiddenFor(m => m.ID)

            <div class="mb-3">
                @Html.LabelFor(m => m.Name, "Accomodation Package Name")
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Enter Accomodation Package Name" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                @Html.LabelFor(m => m.AccomodationTypeID, "Select Accomodation Type")
                @Html.DropDownListFor(m => m.AccomodationTypeID, new SelectList(Model.AccomodationTypes, "ID", "Name"), "Select an Accomodation Type", new { @class = "form-select" })
                @Html.ValidationMessageFor(m => m.AccomodationTypeID, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                @Html.LabelFor(m => m.NoOfRoom, "No. of Rooms")
                @Html.TextBoxFor(m => m.NoOfRoom, new { @class = "form-control", placeholder = "Enter No of Rooms" })
                @Html.ValidationMessageFor(m => m.NoOfRoom, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                @Html.LabelFor(m => m.NoOfRoom, "Fee per Night")
                @Html.TextBoxFor(m => m.FeePerNight, new { @class = "form-control", placeholder = "Enter Fee per night" })
                @Html.ValidationMessageFor(m => m.FeePerNight, "", new { @class = "text-danger" })
            </div>

            <button type="submit" class="btn btn-primary">
                <i class="fa-solid fa-floppy-disk me-1"></i> Save changes
            </button>
        }
    </div>
}

