@model Check_Inn.ViewModels.AccomodationViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="site-hero overlay" style="background-image: url('@Url.Content("~/Content/Images/hero_4.jpg")');" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row site-hero-inner justify-content-center align-items-center">
            <div class="col-md-10 text-center" data-aos="fade-up">
                <h1 class="heading">@Model.AccomodationType.Name accommodations</h1>
                <span class="custom-caption text-white d-block  mb-3">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</span>
            </div>
        </div>
    </div>
</section>


@if (Model != null && Model.AccomodationPackages != null && Model.AccomodationPackages.Count() > 0)
{
    <section class="section">
        <div class="container">
            <div class="row mb-5">
                <form action="@Url.Action("Index", "Accomodations")" method="get" class="d-flex flex-row justify-content-between">
                    <div class="col-md-6 mb-3 mb-md-0">
                        <input type="hidden" name="accomodationTypeID" value="@Model.AccomodationType.ID" />
                        <label for="accomodationPackageID" class="font-weight-bold text-black">Select Accomodation Package</label>
                        <div>
                            <select name="accomodationPackageID" id="accomodationPackageID" class="form-control">
                                @foreach (Check_Inn.Entities.AccomodationPackage accomodationPackage in Model.AccomodationPackages)
                                {
                                    <option value="@accomodationPackage.ID"
                                            @(accomodationPackage.ID == Model.SelectedAccomodationPackageID ? "selected" : string.Empty)>
                                        @accomodationPackage.Name
                                    </option>
                                }
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-primary  p-3 text-white">Select</button>
                </form>
            </div>

            <div class="row">
                @if (Model.Accomodations != null && Model.Accomodations.Count() > 0)
                {
                    foreach (Check_Inn.Entities.Accomodation accomodation in Model.Accomodations)
                    {
                        <div class="col-md-6 col-lg-4" data-aos="fade-up">
                            @*<a href="@Url.Action("Index", "Accomodations" , new { accomodationTypeID = accomodationType.ID })" class="room">*@
                            <a href="#" class="room">
                                <figure class="img-wrap">
                                    <img src="@Url.Content("~/Content/Images/img_1.jpg")" alt="Free website template" class="img-fluid mb-3">
                                </figure>
                                <div class="p-3 text-center room-info">
                                    <h2>@accomodation.Name</h2>
                                    <p data-aos="fade-up" data-aos-delay="100">@accomodation.Description</p>
                                    <p data-aos="fade-up" data-aos-delay="100">No. of Rooms @accomodation.AccomodationPackage.NoOfRoom</p>
                                    <hr />
                                    <h4 class="text-uppercase letter-spacing-1">@accomodation.AccomodationPackage.FeePerNight $ / night</h4>
                                </div>
                            </a>
                        </div>
                    }
                }
                else
                {
                    <div class="alert alert-warning" role="alert">
                        <h2>
                            No accommodation found
                        </h2>
                    </div>
                }
            </div>
        </div>
    </section>
}
