@model Check_Inn.Areas.Dashboard.ViewModels.AccomodationPackagesListingModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col col-lg-12">
        <h2>Accommodation Packages</h2>
        <hr />
    </div>
</div>

<div class="row mb-3">
    <div class="col col-lg-12">
        <form>
            <div class="input-group">
                <input type="text" name="searchterm" class="form-control" placeholder="Search" value="@Model.SearchTerm" />
                @if (Model.AccomodationTypes != null && Model.AccomodationTypes.Count() > 0)
                {
                    <select class="form-select" name="AccomodationTypeID" id="AccomodationTypeID">
                        <option>Filter by Accommodation Type</option>
                        @foreach (var accomodationType in Model.AccomodationTypes)
                        {
                            <option value="@accomodationType.ID" @(accomodationType.ID == Model.AccomodationTypeID ? "selected" : string.Empty)>
                                @accomodationType.Name
                            </option>
                        }
                    </select>
                }
                <button class="btn btn-outline-primary" type="submit">
                    <i class="fa-solid fa-magnifying-glass me-1"></i> Search
                </button>
                <a href="@Url.Action("Index", "AccomodationPackages")" class="btn btn-outline-secondary">
                    <i class="fa-solid fa-rotate-right me-1"></i> Reset
                </a>
                <a href="@Url.Action("Action", "AccomodationPackages")" id="createButton" class="btn btn-outline-success" type="button">
                    <i class="fa-solid fa-plus me-1"></i> Create
                </a>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col col-lg-12">
        @{ Html.RenderPartial("_Listing", Model); }
    </div>
</div>

