@model Check_Inn.Areas.Dashboard.ViewModels.UserActionModel
@{
    ViewBag.Title = "Action";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}
@if (Model != null)
{
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="text-md my-3" id="exampleModalLabel">
                @if(!string.IsNullOrEmpty(Model.ID))
                {
                    <span>Edit User</span>

                }
                else
                {
                    <span>Create User</span>
                }
            </h1>
        </div>

        <div class="error-wrapper">

        </div>

        <form id="actionForm">
            <input type="hidden" name="ID" value="@Model.ID" />
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="FullName" id="FullName" placeholder="Enter Full Name" value="@Model.FullName" >
                <label class="form-label" for="name">Full Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="Email" id="Email" placeholder="Enter Email" value="@Model.Email" >
                <label class="form-label" for="name">Email</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="Username" id="Username" placeholder="Enter Username" value="@Model.Username" >
                <label class="form-label" for="name">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="Country" id="Country" placeholder="Enter Country" value="@Model.Country" >
                <label class="form-label" for="name">Country</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="City" id="City" placeholder="Enter City" value="@Model.City">
                <label class="form-label" for="Description">City</label>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" name="Address" id="Address" placeholder="Enter Address">@Model.Address</textarea>
                <label class="form-label" for="Address">Address</label>
            </div>
            <button id="actionButton" class="btn btn-primary">
                <i class="fa-solid fa-floppy-disk me-1"></i> Save changes
            </button>
        </form>

    </div>
}

<script>
    document.getElementById("actionButton").addEventListener("click", function () {
        console.log("create button clicked")
        var form = document.getElementById("actionForm");
        var formData = new FormData(form);
        console.log(formData.entries)

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "@Url.Action("Action", "Users")", true);

        // Set up an event handler to handle the response
        xhr.onreadystatechange = function () {
            console.log(xhr.status, xhr.readyState);
            if (xhr.readyState === 4) {
                // Response received successfully
                var response = JSON.parse(xhr.responseText);
                if (response.Success)
                {
                    location.href = "@Url.Action("Index", "Users")";
                }
                else
                {
                    var errorDiv = document.querySelector(".error-wrapper");
                    errorDiv.innerHTML = response.Message;
                }
            }
        };

        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');

        xhr.send(formData);
    });
</script>

