@model Check_Inn.Areas.Dashboard.ViewModels.UserActionModel
@{
    ViewBag.Title = "Action";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}
@if (Model != null)
{
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="text-md my-3" id="exampleModalLabel">
                @if (!string.IsNullOrEmpty(Model.ID))
                {
                    <span>Edit User</span>

                }
                else
                {
                    <span>Create User</span>
                }
            </h1>
        </div>

        <div class="error-wrapper">

        </div>

        @using (Html.BeginForm("Action", "Users", FormMethod.Post, new { id = "actionForm" }))
        {
            @Html.HiddenFor(m => m.ID)
            <div class="mb-3">
                @Html.LabelFor(m => m.FullName, "Full Name", new { @class = "form-label" })
                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(m => m.Email, "Email", new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(m => m.Username, "Username", new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(m => m.Country, "Country", new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Country, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(m => m.City, "City", new { @class = "form-label" })
                @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(m => m.Address, "Address", new { @class = "form-label" })
                @Html.TextAreaFor(m => m.Address, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
            </div>
            <button type="submit" class="btn btn-primary">
                <i class="fa-solid fa-floppy-disk me-1"></i> Save changes
            </button>

        }
    </div>
}
