@model Check_Inn.Areas.Dashboard.ViewModels.RolesActionModel

@{
    ViewBag.Title = "Action";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}
@if (Model != null)
{
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="text-md my-3" id="exampleModalLabel">
                @if (!string.IsNullOrEmpty(Model.ID))
                {
                    <span>Edit Role</span>

                }
                else
                {
                    <span>Create Role</span>
                }
            </h1>
        </div>

        <div class="error-wrapper">

        </div>

        @using (Html.BeginForm("Action", "Roles", FormMethod.Post, new { id = "actionForm" }))
        {
            @Html.HiddenFor(m => m.ID)
            <div class="form-floating mb-3">
                @Html.LabelFor(m => m.Name, "Name", new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
            <button type="submit" class="btn btn-primary">
                <i class="fa-solid fa-floppy-disk me-1"></i> Save changes
            </button>

        }

    </div>
}

<script>
    document.getElementById("actionButton").addEventListener("click", function () {
        console.log("create button clicked")
        var form = document.getElementById("actionForm");
        var formData = new FormData(form);
        console.log(formData.entries)

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "@Url.Action("Action", "Roles")", true);

        // Set up an event handler to handle the response
        xhr.onreadystatechange = function () {
            console.log(xhr.status, xhr.readyState);
            if (xhr.readyState === 4) {
                // Response received successfully
                var response = JSON.parse(xhr.responseText);
                if (response.Success)
                {
                    location.herf = "@Url.Action("Index", "Roles")";
                }
                else
                {
                    var errorDiv = document.querySelector(".error-wrapper");
                    errorDiv.innerHTML = response.Message;
                }
            }
        };

        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');

        xhr.send(formData);
    });
</script>

